In [11]:
pip install fuzzywuzzy

Requirement already satisfied: fuzzywuzzy in c:\anaconda3\lib\site-packages (0.18.0)
Note: you may need to restart the kernel to use updated packages.

In [12]:
import difflib
from nltk.tokenize import word_tokenize

In [13]:
s1='selam'
s2='selm'
print(difflib.SequenceMatcher(None,s1,s2,False).ratio())

0.8888888888888888

In [14]:
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

s1= "Anadolu türkiyenin bir bölgesidir"
s2="Marmara türkiyenin bir bölgesidir"
print("Fuzzywuzzy Ratio:", fuzz.ratio(s1, s2))

query = 'elma'
choices = ['elmacık','elmalı','elli','elim']
print ("List of rations: ")
print (process.extract(query, choices), '\n')
print ("Best amang the above list:" ,process.extractOne(query, choices))

Fuzzywuzzy Ratio: 82
List of rations:
[('elmacık', 90), ('elmalı', 90), ('elim', 75), ('elli', 50)]

Best amang the above list: ('elmacık', 90)

In [15]:
import nltk
import re
from nltk.collocations import *
from collections import Counter
nltk.download('stopwords')
import difflib
from nltk.tokenize import word_tokenize
import pandas as pd

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\minao\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [16]:
def basic_clean(text):

  wnl = nltk.stem.WordNetLemmatizer()
  stopwords = nltk.corpus.stopwords.words('turkish') 
  words = re.sub(r'[^\w\s]', '', text).split()
  return [wnl.lemmatize(word) for word in words if word not in stopwords]

In [19]:
open_file=open(r'C:\Users\minao\Desktop\task 7.txt',encoding="utf-8")
df=open_file.read()

In [20]:
words = basic_clean(df)

In [21]:
low=nltk.ngrams(words,1)
lowFrequency=Counter(low)
valuesOfLowFrequency=list(lowFrequency.values())
lowFrequencyList=list(lowFrequency)

for x in range(0,len(lowFrequencyList)):
    if(valuesOfLowFrequency[x]<6):
        print(lowFrequencyList[x],"is used",valuesOfLowFrequency[x],"times")

('merhab',) is used 1 times
('Kale',) is used 1 times
('çoçuk',) is used 1 times
('avrup',) is used 1 times
('denniz',) is used 1 times
('anadolu',) is used 1 times
('asya',) is used 1 times
('kelime',) is used 1 times
('havuz',) is used 1 times

In [22]:
high=nltk.ngrams(words,1)
highFrequency=Counter(high)
valuesOfHighFrequency=list(highFrequency.values())
highFrequencyList=list(highFrequency)

for x in range(0,len(highFrequencyList)):
    if(valuesOfHighFrequency[x]>4):
        print(highFrequencyList[x],"is used",valuesOfHighFrequency[x],"times")

('merhaba',) is used 7 times
('Kalem',) is used 7 times
('çocuk',) is used 7 times
('avrupa',) is used 8 times
('deniz',) is used 7 times
('elma',) is used 10 times
('armut',) is used 10 times
('bilgisayar',) is used 10 times
('telefon',) is used 10 times
('makina',) is used 10 times

In [34]:
low_freq_list=""" merhab Kale çoçuk avrup denniz"""
low_freq_list=low_freq_list.split()

In [35]:
high_freq_list=""" merhaba Kalem çocuk avrupa deniz"""
high_freq_list=high_freq_list.split()

In [25]:
for token1 in low_freq_list:
    for token2 in high_freq_list:
        mylist=[(token1.splitlines(),token2.splitlines()),"Similarity=>",difflib.SequenceMatcher(None,token1,token2,False).ratio()]
        print(mylist)

[(['merhab'], ['merhaba']), 'Similarity=>', 0.9230769230769231]
[(['merhab'], ['Kalem']), 'Similarity=>', 0.18181818181818182]
[(['merhab'], ['çocuk']), 'Similarity=>', 0.0]
[(['merhab'], ['avrupa']), 'Similarity=>', 0.3333333333333333]
[(['merhab'], ['deniz']), 'Similarity=>', 0.18181818181818182]
[(['Kale'], ['merhaba']), 'Similarity=>', 0.18181818181818182]
[(['Kale'], ['Kalem']), 'Similarity=>', 0.8888888888888888]
[(['Kale'], ['çocuk']), 'Similarity=>', 0.0]
[(['Kale'], ['avrupa']), 'Similarity=>', 0.2]
[(['Kale'], ['deniz']), 'Similarity=>', 0.2222222222222222]
[(['çoçuk'], ['merhaba']), 'Similarity=>', 0.0]
[(['çoçuk'], ['Kalem']), 'Similarity=>', 0.0]
[(['çoçuk'], ['çocuk']), 'Similarity=>', 0.8]
[(['çoçuk'], ['avrupa']), 'Similarity=>', 0.18181818181818182]
[(['çoçuk'], ['deniz']), 'Similarity=>', 0.0]
[(['avrup'], ['merhaba']), 'Similarity=>', 0.16666666666666666]
[(['avrup'], ['Kalem']), 'Similarity=>', 0.2]
[(['avrup'], ['çocuk']), 'Similarity=>', 0.2]
[(['avrup'], ['avrupa']), 'Similarity=>', 0.9090909090909091]
[(['avrup'], ['deniz']), 'Similarity=>', 0.0]
[(['denniz'], ['merhaba']), 'Similarity=>', 0.15384615384615385]
[(['denniz'], ['Kalem']), 'Similarity=>', 0.18181818181818182]
[(['denniz'], ['çocuk']), 'Similarity=>', 0.0]
[(['denniz'], ['avrupa']), 'Similarity=>', 0.0]
[(['denniz'], ['deniz']), 'Similarity=>', 0.9090909090909091]

In [26]:
mylist2=[(token1.splitlines(),token2.splitlines(),difflib.SequenceMatcher(None,token1,token2,False).ratio()) for token2 in high_freq_list for token1 in low_freq_list]
mylist2

[(['merhab'], ['merhaba'], 0.9230769230769231),
 (['Kale'], ['merhaba'], 0.18181818181818182),
 (['çoçuk'], ['merhaba'], 0.0),
 (['avrup'], ['merhaba'], 0.16666666666666666),
 (['denniz'], ['merhaba'], 0.15384615384615385),
 (['merhab'], ['Kalem'], 0.18181818181818182),
 (['Kale'], ['Kalem'], 0.8888888888888888),
 (['çoçuk'], ['Kalem'], 0.0),
 (['avrup'], ['Kalem'], 0.2),
 (['denniz'], ['Kalem'], 0.18181818181818182),
 (['merhab'], ['çocuk'], 0.0),
 (['Kale'], ['çocuk'], 0.0),
 (['çoçuk'], ['çocuk'], 0.8),
 (['avrup'], ['çocuk'], 0.2),
 (['denniz'], ['çocuk'], 0.0),
 (['merhab'], ['avrupa'], 0.3333333333333333),
 (['Kale'], ['avrupa'], 0.2),
 (['çoçuk'], ['avrupa'], 0.18181818181818182),
 (['avrup'], ['avrupa'], 0.9090909090909091),
 (['denniz'], ['avrupa'], 0.0),
 (['merhab'], ['deniz'], 0.18181818181818182),
 (['Kale'], ['deniz'], 0.2222222222222222),
 (['çoçuk'], ['deniz'], 0.0),
 (['avrup'], ['deniz'], 0.0),
 (['denniz'], ['deniz'], 0.9090909090909091)]

In [27]:
df=pd.DataFrame(mylist2)

In [28]:
df.head()

          0          1         2
0  [merhab]  [merhaba]  0.923077
1    [Kale]  [merhaba]  0.181818
2   [çoçuk]  [merhaba]  0.000000
3   [avrup]  [merhaba]  0.166667
4  [denniz]  [merhaba]  0.153846

In [29]:
df.colums=["Low_token","High_token","Similarity"]
df

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

           0          1         2
0   [merhab]  [merhaba]  0.923077
1     [Kale]  [merhaba]  0.181818
2    [çoçuk]  [merhaba]  0.000000
3    [avrup]  [merhaba]  0.166667
4   [denniz]  [merhaba]  0.153846
5   [merhab]    [Kalem]  0.181818
6     [Kale]    [Kalem]  0.888889
7    [çoçuk]    [Kalem]  0.000000
8    [avrup]    [Kalem]  0.200000
9   [denniz]    [Kalem]  0.181818
10  [merhab]    [çocuk]  0.000000
11    [Kale]    [çocuk]  0.000000
12   [çoçuk]    [çocuk]  0.800000
13   [avrup]    [çocuk]  0.200000
14  [denniz]    [çocuk]  0.000000
15  [merhab]   [avrupa]  0.333333
16    [Kale]   [avrupa]  0.200000
17   [çoçuk]   [avrupa]  0.181818
18   [avrup]   [avrupa]  0.909091
19  [denniz]   [avrupa]  0.000000
20  [merhab]    [deniz]  0.181818
21    [Kale]    [deniz]  0.222222
22   [çoçuk]    [deniz]  0.000000
23   [avrup]    [deniz]  0.000000
24  [denniz]    [deniz]  0.909091

In [31]:
from difflib import SequenceMatcher
m = SequenceMatcher(None,"merhab","merhaba")
m.ratio()

0.9230769230769231

In [32]:
from difflib import SequenceMatcher
m = SequenceMatcher(None,"Kale","merhaba")
m.ratio()

0.18181818181818182

In [33]:
from difflib import SequenceMatcher
m = SequenceMatcher(None,"çoçuk","merhaba")
m.ratio()

0.0